<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="og:locale" content="de_AT">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">

        <link rel="stylesheet" href="/assets/styles/chota.min.css">
        <link rel="stylesheet" href="/assets/styles/chota.min.css">

        <title>{{ title }}</title>
    </head>
</html>
<body>
    <div class="wrapper">
        <nav class="nav bg-primary">
            <div class="nav-center">
                <h1 class="text-light">{{ title }}</h1>
            </div>
        </nav>
        {{ content | safe }}
    </div>
</body>