{% macro table(menu) %}
<table class="striped" style="empty-cells: hide;">
    <thead>
        <tr>
            <th><!-- indent --></th>
            <th>Menü</th>
            <th>Beschreibung</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu %}
        {% set hasOptions = item.options.length > 0 %}
        <tr>
            <td colspan="2">{{ item.name }}</td>
            {% if hasOptions %}
            <td colspan="2">
                {{ item.description | sanitize | safe }}
            </td>
            {% else %}
            <td> {{ item.description | sanitize | safe }} </td>
            <td> {{ item.price | money }} </td>
            {% endif %}
        </tr>
        {% if hasOptions %}
        {% for option in item.options %}
        <tr>
            <td></td>
            <td colspan="2">{{ [option.name, option.description] | join | sanitize | safe }}</td>
            <td>{{ option.price | money }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}