---
import type { CollectionEntry } from "astro:content";
import Item from "./Item.astro";

interface Props {
  items: Array<CollectionEntry<"menu">>;
}

const { items } = Astro.props;
---

<table class="striped" style="empty-cells: hide;">
  <thead>
    <tr>
      <th><!-- indent --></th>
      <th>Menü</th>
      <th>Beschreibung</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    {items.map((item) => <Item item={item} />)}
  </tbody>
</table>
