---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import RestaurantCard from "../components/RestaurantCard.astro";

const now = new Date();
const restaurants = await getCollection("restaurants");
---

<Base date={now} title="Rückkehr des Menüs">
  <div class="row">
    <div class="col-12 col-6-lg">
      {restaurants.map((r) => <RestaurantCard restaurant={r} />)}
    </div>
  </div>
</Base>
