---
layout: base
pagination:
  data: restaurants
  size: 1
  resolve: values
  alias: restaurant
permalink: "restaurants/{{ restaurant.name | slugify }}/"
eleventyComputed:
  title: "{{ restaurant.name }} | Menü"
---
{% from "menu.njk" import table %}

<div class="restaurant card">
    <header>
        <h2>
            {{ restaurant.name }}
            <br />
            <small>
                {{ restaurant.homepage | urlize | safe }}
            </small>
        </h2>
    </header>

    {{ table(restaurant.menu) }}
</div>