---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Table from "./Menu/Table.astro";

interface Props {
  readonly restaurant: CollectionEntry<"restaurants">;
}

const { restaurant } = Astro.props;
const link = `/restaurants/${restaurant.id}`;
const menu = await getCollection(
  "menu",
  ({ data }) => data.restaurant === restaurant.id,
);
---

<div class="card restaurant">
  <header>
    <a href={link}>
      <h2>{restaurant.data.name}</h2>
    </a>
  </header>
  <Table items={menu} />
</div>
