---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import { GET } from "./[date].json";
import { format } from "date-fns";
import type { MenuItem } from "src/services/RestaurantService";

export async function getStaticPaths() {
  const restaurants = await getCollection("restaurants");
  return restaurants.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const today = new Date(2024, 4, 1);
const { entry } = Astro.props;

const response = await GET({
  ...Astro,
  params: { slug: entry.id, date: format(today, "yyyy-MM-dd") },
});
const menu: ReadonlyArray<MenuItem> = await response.json();
---

<Base title={entry.data.name}>
  <a href={entry.data.homepage}>Homepage</a>
  <ul>
    {menu.map((i) => <li>{JSON.stringify(i)}</li>)}
  </ul>
</Base>
