---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import { EuroplazaRestaurantService } from "src/services/Europlaza";

export async function getStaticPaths() {
  const restaurants = await getCollection("restaurants");
  return restaurants.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const today = new Date();
const svc = new EuroplazaRestaurantService(
  import.meta.env.EUROPLAZA_USER,
  import.meta.env.EUROPLAZA_PASSWORD
);
const { entry } = Astro.props;
const menu = await svc.getMenu(entry.id, today);
---

<Base title={entry.data.name}>
  <a href={entry.data.homepage}>Homepage</a>
  <ul>
    {menu.map((i) => <li>{JSON.stringify(i)}</li>)}
  </ul>
</Base>
