---
title: Rückkehr des Menüs
description: Europlaza Menüs ohne App!
layout: base
---

{% from "menu.njk" import table %}

<div class="row">
    {% for restaurant in (restaurants | values | flatten) %}
    <div class="col-12 col-6-lg">
        <div class="card">
            <header>
                <a href="/restaurants/{{ restaurant.slug }}/">
                    <h2>{{ restaurant.name }}</h2>
                </a>
            </header>

            {{ table(restaurant.menu) }}

        </div>
    </div>
    {% endfor %}
</div>