---
title: Rückkehr des Menüs
layout: base
eleventyComputed:
  description: "Europlaza Menüs für den {{ page.date | localdate('de-AT') }} ohne App!"
---

{% from "menu.njk" import table %}

<div class="row">
    {% for restaurant in (restaurants | values | flatten) %}
    <div class="col-12 col-6-lg">
        <div class="card restaurant">
            <header>
                <a href="/restaurants/{{ restaurant.slug }}/">
                    <h2>{{ restaurant.name }}</h2>
                </a>
            </header>

            {{ table(restaurant.menu) }}

        </div>
    </div>
    {% endfor %}
</div>