---js
{
  layout: "base",
  pagination: {
    data: "restaurants",
    size: 1,
    alias: "restaurant",
    addAllPagesToCollections: true,
    before: function(pgData, fullData) {
      return Object.values(fullData.restaurants).flat();
    },
  },
  permalink: "restaurants/{{ restaurant.name | slugify }}/",
  tags: "restaurant",
  eleventyComputed: {
    title: "{{ restaurant.name }} | Menü"
  },
}
---
{{ restaurant | log }}
{% from "menu.njk" import table %}

<h2>
    {{ restaurant.name }}
    <br />
    <small>
        {{ restaurant.homepage | urlize | safe }}
    </small>
</h2>

{{ table(restaurant.menu) }}