---js
{
  layout: "base",
  pagination: {
    data: "restaurants",
    size: 1,
    alias: "restaurant",
    addAllPagesToCollections: true,
    before: function(pgData, fullData) {
      return Object.values(fullData.restaurants).flat();
    },
  },
  permalink: "restaurants/{{ restaurant.slug }}/",
  tags: "restaurant",
  eleventyComputed: {
    title: "{{ restaurant.name }} | Menü",
    description: "{{ restaurant.name }} Menü für den {{ page.date | localdate }}"
  },
}
---
{% from "menu.njk" import table %}

<h2>
    {{ restaurant.name }}
    <br />
    {% if restaurant.homepage %}
    <small>
        {{ restaurant.homepage | urlize | safe }}
    </small>
    {% endif %}
</h2>

{{ table(restaurant.menu) }}