---
import ThemePicker from "@components/ThemePicker.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light" />
    <script>
      import { $theme } from "@stores/theme";
      $theme.subscribe((value, _) => {
        if (value) {
          document.documentElement.setAttribute("data-theme", value);
        } else {
          document.documentElement.removeAttribute("data-theme");
        }
      });
    </script>

    <title>{title}</title>
  </head>
  <body class="max-w-full">
    <header class="navbar bg-primary text-primary-content">
      <div class="navbar-start"><slot name="navbar-start" /></div>
      <div class="navbar-center"><slot name="navbar-center" /></div>
      <div class="navbar-end"><ThemePicker /></div>
    </header>
    <main class="container mx-auto mt-4 prose">
      <slot />
    </main>
  </body>
</html>
