---
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import { CssBaseline, AppBar, Typography, Container } from "@mui/material";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <CssBaseline />
        <AppBar position="sticky">
            <Typography variant="h1">{title}</Typography>
        </AppBar>
        <Container>
            <slot />
        </Container>
    </body>
</html>
